html, * {
    box-sizing: border-box;
    text-align: center;
}

body, html {
    height: 100%;
    text-align: center;
}

h1, h2 {
    position: relative;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.hipwallpaper.com/m/75/51/UwCa18.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hearts li{
    list-style: none;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    width: 2em;
}

.fa-heart {
    color: #DC143C;
}

#start-game {
    display: flex;
    align-items: flex-end;
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    color: #0066CC;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}


.deck .card {
	height: 7.5rem;
	width: 6rem;
    margin: 10px; 
    background-image: url('https://images-na.ssl-images-amazon.com/images/I/61d-Cs6AW%2BL._SL1226_.jpg');
    background-size: 100px 120px;
    border-radius: 5px;
    font-size: 0px;
	cursor: pointer;
	display: inline-block;
	align-content: center;
    box-shadow: 2px 2px 2px 0 #141414;
}

.deck .showCard {
    background: white;
    font-size: 70px;
}

.deck .card.openedCard {
    background: white;
    font-size: 70px;
    color: black;
    text-align: center;
}

.deck .card.matchedCard {
    font-size: 70px;
	background: green;
}

.deck .card.unmatchedCard {
    background: #e2043b;
}